/*
 * Copyright © SoftLayer, an IBM Company
 *
 * icons.less
 * Hatch's icon elements. Icon properties should always be defined in icons.less. This prevents
 * issues arrising from conflicting properties. Here, you can edit or add new icon properties.
 * Remember to comb icons.less before committing.
 *
 */

.icon-wrapper {
  padding: 70px 0 0;
}

.icon-placeholder {
  padding-top: 0;
  a {
    color: @gray20;
    text-decoration: none;
  }
  p {
    padding: 0 20px;
    font-weight: @font-weight-light;
  }
}

.icon-large {
  .transition-duration(.4s);
  .transition-property(color);
  font-size: (@font-size-normal * 6.5) !important; /* 104px */
  &.icon-animated {
    .transition-property(-webkit-transform);
    .transition-duration(1s);
    &:hover,
    &:focus,
    &:active {
      .animation-name(pulse);
      .animation-duration(1.5s);
      .animation-iteration-count(infinite);
      .animation-timing-function(linear);
    }
  }
}

.icon-normal {
  padding-left: 2px;
  font-size: @font-size-medium;
  font-weight: @font-weight-light;
  color: @gray50;
  letter-spacing: @letter-spacing-xlarge;
}

#icon-scroll-up {
  .opacity(.15);
  .transition(.4s);
  position: fixed;
  right: 12px;
  bottom: 15px;
  padding: 13px;
  line-height: 0;
  color: @gray80;
  text-decoration: none;
  visibility: hidden;
  background-color: @gray50;
  border-radius: @border-radius-xlarge;

  @media (min-width: @view-medium) {
    .opacity(.5);
    font-size: 21px;
    color: @gray50;
    background-color: transparent;
    &:hover,
    &:focus,
    &:active {
      .opacity(1);
      bottom: 17px;
      color: @gray30;
    }
  }
}
