/*
 * Copyright © Rasp by SoftLayer, an IBM Company
 *
 * variables.less
 * Rasp's variables. Variables are a way to centralize and share commonly used values like colors,
 * spacing, or font stacks. Here, you can edit or add new variables. Do not comb variables.less
 * before committing.
 *
 */

/* =========================
   Colors
   ========================= */

@blue:                      #4178be; // #337ab7;
@green:                     #5aa700; // #5cb85c;
@magenta:                   #db2780; // #c7254e;
@orange:                    #ff7832; // #f0ad4e;
@purple:                    #9855d4; // #563d7c;
@red:                       #e71d32; // #d9534f;
@yellow:                    #efc100;

/* =========================
   Grayscale
   ========================= */

@gray10:                    #121214;
@gray20:                    #323234;
@gray30:                    #5a5a5c;
@gray40:                    #777679;
@gray50:                    #959597;
@gray60:                    #c7c7c9;
@gray70:                    #e0e0e2;
@gray80:                    #efeff1;
@gray90:                    #f5f5f7;

@white:                     #ffffff;

/* =========================
   Button Colors
   ========================= */

@button-default-color:      @gray20;
@button-default-bg:         transparent;
@button-default-border:     @gray30;

@button-gray-color:         @gray40;
@button-gray-bg:            transparent;
@button-gray-border:        @gray50;

@button-hover:              rgb(179,178,179);

/* =========================
   Font Family
   ========================= */

@font-family-sans-serif:    "Benton Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-monospace:     Menlo, Monaco, Consolas, monospace;
@font-family-serif:         Georgia, "Times New Roman", Times, serif;

/* =========================
   Font Weight
   ========================= */

@font-weight-light:         300;
@font-weight-normal:        400;
@font-weight-bold:          700;

/* =========================
   Font Sizes
   ========================= */

@font-size-small:           12px;
@font-size-medium:          14px;
@font-size-normal:          16px;
@font-size-large:           22px;

/* =========================
   Line Height
   ========================= */

@line-height-xsmall:        1.1111;
@line-height-small:         1.25;
@line-height-medium:        1.3333;
@line-height-normal:        1.428571429;

/* =========================
   Letter Spacing
   ========================= */

@letter-spacing-xsmall:     -.01em;
@letter-spacing-small:      -.02em;
@letter-spacing-medium:     -.03em;
@letter-spacing-large:      -.04em;
@letter-spacing-xlarge:     -.05em;

/* =========================
   Padding
   ========================= */

@padding-vertical:          9px;
@padding-horizontal-small:  15px;
@padding-horizontal-normal: 17px;
@padding-horizontal-large:  20px;

/* =========================
   Border Radius
   ========================= */

@border-radius-small:       3px;
@border-radius-normal:      4px;
@border-radius-large:       5px;
@border-radius-xlarge:      50px;

/* =========================
   Z-Index
   ========================= */

@zindex10:                  100;
@zindex20:                  200;
@zindex30:                  300;
@zindex40:                  400;
@zindex50:                  500;
@zindex60:                  600;
@zindex70:                  700;
@zindex80:                  800;
@zindex90:                  900;
@zindex100:                 1000;
