<section class="hero">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="hero-title">{{site.github.title}}</h1>
        <h2 class="hero-tagline">{{site.github.tagline}}</h2>
        <a type="button" class="button button-default" href="{{page.baseurl}}docs/getting-started">
          Get Started
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="icon-wrapper">
        {% include icons.html %}
      </div>
    </div>
  </div>
</section>
