<!-- Left Icon -->
<div class="col-md-4">
  <div class="icon-placeholder">
    <a href="{{page.baseurl}}docs/getting-started">
      <span class="icon-large icon-animated">
        <i class="fa fa-download"></i>
      </span>
      <h4>{{site.github.title}} <span id="js-github-version"><i class="fa fa-spinner fa-spin"></i></span> is released</h4>
      <p>Pick from a number of different options to get started. <i class="fa fa-angle-right icon-normal"></i></p>
    </a>
  </div>
</div>

<!-- Center Icon -->
<div class="col-md-4">
  <div class="icon-placeholder">
    <a href="{{page.baseurl}}docs/contributing">
      <span class="icon-large icon-animated">
        <i class="fa fa-github"></i>
      </span>
      <h4>Last updated on <span id="js-github-commit"><i class="fa fa-spinner fa-spin"></i></span></h4>
      <p>Join our followers and keep up with the latest updates. <i class="fa fa-angle-right icon-normal"></i></p>
    </a>
  </div>
</div>

<!-- Right Icon -->
<div class="col-md-4">
  <div class="icon-placeholder">
    <a href="{{page.baseurl}}docs/contributing">
      <span class="icon-large icon-animated">
        <i class="fa fa-users"></i>
      </span>
      <h4>Become a contributor</h4>
      <p>Find out how you can make a contribution to this project. <i class="fa fa-angle-right icon-normal"></i></p>
    </a>
  </div>
</div>
